---
import BaseLayout from "../layouts/BaseLayout.astro";
import VueCounter from "../components/Counter.vue";
import SvelteCounter from "../components/Counter.svelte";
import ReactCounter from "../components/Counter.tsx";

// Style imports
import "../styles/Counter.css";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Counters in Vue, React and Svelte</h2>

  <div class="bloc-counter">
    <!-- Vue component -->
    <VueCounter client:visible />

    <!-- Svelte component -->
    <SvelteCounter client:visible />

    <!-- React component -->
    <ReactCounter client:visible />
  </div>
</BaseLayout>
